<head>
	<title>Stronger, starting now.</title>
	<meta name="description" content="Enter your bodyweight and get back a great
	workout routine with one click. Simple and free." />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" th:href="@{/css/main.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/css/flexgrid.css}" type="text/css" />
	<script th:src="@{/js/ajaxFormSubmitFramework.js}" />
	<script th:src="@{/js/pageRoutine.js}" />
</head>