<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet" th:href="@{css/main.css}" type="text/css" />
<link rel="stylesheet" th:href="@{css/flexgrid.css}" type="text/css" />
<title>Stronger, starting now: Join us</title>
</head>
<body>
	<th:block th:replace="fragments/header"></th:block>
	<div id="main">
		<th:block th:replace="fragments/navigation"></th:block>
		<article th:fragment="createaccount">
			<form class="newUserForm" id="new-user-form" th:object="${userAccount}" method="POST" th:action="@{/joinus}" >
			<label>Choose Username:</label> <input name="username" type="text" />
			<span class="error-message" th:errors="*{username}">Error placeholder</span>
			<label>Set password:</label><input name="password" type="password" /><br />
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<!-- <input name="submit" value="Begin" type="submit" /> -->
			</form>
			<p>-or-<br/><a href="#" onclick="requestRandomUsernamePassword(this)" id="random-username-password-link" rel="nofollow">give me a random username and save it</a></p>
			<p><th:block th:text="${randomUsername}"></th:block></p>
		</article>
	</div>
</body>
</html>