<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" th:href="@{css/main.css}" type="text/css" />

<title>Strongerweb - Initial Profile</title>
</head>
<body>
<h1>Here's your routine.</h1>
<ul><li id="keep-routine" class="style-as-link" onclick="hideElements('slider')">Looks good</li><li id="adjust-routine" class="style-as-link" onclick="showElements('slider')">I need to adjust</li></ul>
<div id="initial-routine" th:object="${human}">
	
	<form ACTION="#" th:action="@{/saveroutine}" th:object="${human}" method="POST">
		<button class="adjust-routine-save" type="submit">save</button><br />
	
	<th:block th:each="exerciseAbility, iterstat : *{currentRoutine}" th:field="*{currentRoutine}">
		<label th:for="'activity-' + ${iterstat.index}"><span th:text="${exerciseAbility.getExercise().getName()}"></span></label>
		<input type="hidden" th:field="*{currentRoutine[__${iterstat.index}__].exercise.name}" />
		
		<br /><input type="range" onclick="showElements('adjust-routine-save')" step="5" class="slider weight-slider" th:id="'activity-' + ${iterstat.index}" th:oninput="'displaySliderNumbers(\'activity-' + ${iterstat.index} + '\', \'current-weight\', \'currentWeightFor\')'" th:min="${(exerciseAbility.getWeightInPounds() % 2) gt 0 ? exerciseAbility.getWeightInPounds() / 2 + 3 : exerciseAbility.getWeightInPounds() / 2} " th:max="${exerciseAbility.getWeightInPounds() * 2}" th:field="*{currentRoutine[__${iterstat.index}__].weightInPounds}" th:value="${exerciseAbility.getWeightInPounds()}" />
		<span class="current-weight" th:attr = "data-current-weight-for = 'activity-' + ${iterstat.index}" th:text="${exerciseAbility.getWeightInPounds()}"></span>
	     
	     <br /><input type="range" th:field="*{currentRoutine[__${iterstat.index}__].repetitions}" onclick="showElements('adjust-routine-save')" step="1" class="slider rep-slider" th:id="'reps-activity-' + ${iterstat.index}"  th:oninput="'displaySliderNumbers(\'reps-activity-' + ${iterstat.index} + '\', \'current-reps\', \'currentRepsFor\')'" th:min="1" th:max="15" th:value="${exerciseAbility.getRepetitions()}" />
		<span class="current-reps" th:attr = "data-current-reps-for = 'reps-activity-' + ${iterstat.index}" th:text="${exerciseAbility.getRepetitions()}"></span>
	 	
	 	<br /><input type="range" th:field="*{currentRoutine[__${iterstat.index}__].sets}" onclick="showElements('adjust-routine-save')" step="1" class="slider set-slider" th:id="'sets-activity-' + ${iterstat.index}"  th:oninput="'displaySliderNumbers(\'sets-activity-' + ${iterstat.index} + '\', \'current-sets\', \'currentSetsFor\')'" th:min="1" th:max="5" th:value="${exerciseAbility.getSets()}" />
		<span class="current-sets" th:attr = "data-current-sets-for = 'sets-activity-' + ${iterstat.index}" th:text="${exerciseAbility.getSets()}"></span>
	 	
	 	<br />
		<br />
	</th:block>
	
		<button class="adjust-routine-save" type="submit">save</button><br />
	</form>

	<script th:inline="javascript">
	/*<![CDATA[*/   
	   var showElementWithId = function(idName) {
			var element = document.getElementById(idName);
			element.style.display = "inline-block";
		}
	
	   var hideElementWithId = function(idName) {
			var element = document.getElementById(idName);
			elements.style.display = "none";
		}
	
	    var showElements = function(className) {
			var elements = document.getElementsByClassName(className);
			for(var i = 0; i < elements.length; i++) {
				elements[i].style.display = "inline-block";
			}
		}
	
	    var hideElements = function(className) {
			var elements = document.getElementsByClassName(className);
			for(var i = 0; i < elements.length; i++) {
				elements[i].style.display = "none";
			}
		}
	           
		var displaySliderNumbers = function(elementId, className, dataElementName) {
			var sliderElement = document.getElementById(elementId);
			var currentElements = document.getElementsByClassName(className);
			for(var i = 0; i < currentElements.length; i++) {
				if (currentElements[i].dataset[dataElementName] == elementId) {
					currentElements[i].textContent = sliderElement.value;
				}
			}			
		}
		
	/*]]>*/
	</script>
</div>
</body>
</html>